<div class="auth-container">

      <h1>Login</h1>

      <form [formGroup]="loginForm" (submit)="onSubmit()" class="form">
            <div class="form-field">
                  <label for="email">Email:</label>
                  <input formControlName="email" type="text" id="email" />
            </div>
            <div class="form-field">
                  <label for="password">Password:</label>
                  <input formControlName="password" type="password" id="password" />
            </div>
            <div class="form-actions">
                  <button [disabled]="!loginForm.valid" type="submit">Login</button>
            </div>
      </form>

</div>