.error-notifications {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 16px;
  right: 16px;
  gap: 10px;
}
.notification {
  padding: 16px;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 4px;

  width: 300px;
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

/*  keyframes for sliding in and out */
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(110%);
  }
}

/* Apply the animations */
.slide-in {
  animation: slideIn 0.5s forwards;
}

.slide-out {
  animation: slideOut 0.5s forwards;
}
